<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body style="background-color:BlanchedAlmond ;">
	<h1>Here you can add a new invoice: </h1>
</body>
<form action = "/add_invoice" method = "get">
	<label>Enter the Invoice Number: </label>
	<input type = "number" name = "invoice_number"></br>
	<label>Enter the Customer: </label>
	<input type = "text" name = "customer"></br>
	<label>Enter the Date Required: </label>
	<input type = "date" name = "date_required"></br>
	<label>Enter the Recipe: </label>
	<input type = "text" name = "recipe"></br>
	<label>Enter the Gyle Number: </label>
	<input type = "number" name = "gyle_number"></br>
	<label>Enter the Quantity Ordered: </label>
	<input type = "number" name = "quantity_ordered"></br>
	<input type = "submit" value = "submit">
</form>

<form action = "/" method = "get">
	<input type = "submit" class = "button" value = "Home" name = Home>
</form>




</html>