<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body style="background-color:BlanchedAlmond ;">
	<h1>Barnaby Software Application</h1>

</body>
<form action = "/add_row" method = "POST">
	<input type = "submit" class = "button" value = "Add New Invoice" name = Add New Invoice>
</form>
<form action = "/prediction_input" method = "POST">
	<input type = "submit" class = "button" value = "Make Prediction" name = "Make Prediction">
</form>
<form action = "/projection_input" method = "POST">
	<input type = "submit" class = "button" value = "View Last Years Projections"" name = "View Last Years Projections">
</form>
<form action = "/start_brew" method = "POST">
	<input type = "submit" class = "button" value = "Start Brew" name = "Start Brew">
</form>
<form action = "/view_batches" method = "POST">
	<input type = "submit" class = "button" value = "View Batches" name = "View Batches">
</form>
<form action = "/viewtank_input" method = "POST">
	<input type = "submit" class = "button" value = "View Tanks" name = "View Tanks">
</form>
<form action = "/make_first_recommendation" method = "POST">
	<input type = "submit" class = "button" value = "Make Recommendation" name = "Make Recommendation">
</form>
<form action = "/view_delivery" method = "POST">
	<input type = "submit" class = "button" value = "View Delivery Amounts" name = "View Delivery Amounts">
</form>

</html>