<!DOCTYPE html>
<html>
<head>
	<title></title>

</head>
<body style="background-color:BlanchedAlmond ;">
	<h1>Here is the Recommended Amounts of Beers: </h1>

	<h3>Over the next 3 months the amount of Organic Red Helles is: {{helles_display[0]}} </h3>
	<h3>The amount of of Organic Red Helles bottles and ready for delivery is: {{helles_display[1]}} </h3>
	<h3>Therefore the amount of bottles of Organic Red Helles required is: {{helles_display[2]}} </h3>

	<h3>Over the next 3 months the amount of Organic Pilsner is: {{pilsner_display[0]}} </h3>
	<h3>The amount of of Organic Pilsner bottles and ready for delivery is: {{pilsner_display[1]}} </h3>
	<h3>Therefore the amount of bottles of Organic Pilsner required is: {{pilsner_display[2]}} </h3>

	<h3>Over the next 3 months the amount of Organic Dunkel is: {{dunkel_display[0]}} </h3>
	<h3>The amount of of Organic Dunkel bottles and ready for delivery is: {{dunkel_display[1]}} </h3>
	<h3>Therefore the amount of bottles of Organic Dunkel required is: {{dunkel_display[2]}} </h3>

	<h2>The beer recipe with the most bottles needed to be made is {{most_needed_display}} </h2>

</body>


<form action = "/" method = "get">
	<input type = "submit" class = "button" value = "Home" name = Home>
</form>


</html>